.appBarContainer {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 600px) minmax(max-content, 1fr);
    align-items: center;
    width: 100%;
    padding: 0 10px;
    gap: 5px;
}

.lg {
    display: flex !important;
    place-items: center;
}

.md {
    display: none !important;
}

.sm {
    display: none !important;
}

.navLinkButtons {
    height: min-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.AppBar_NavLinkButtons {
    flex-direction: row;
}

.SideNav_NavLinkButtons {
    flex-direction: column;
}

.SideNav {
    display: none;
    float: left;
}

/* md */
@media (max-width: 700px) {
    .appBarContainer {
        grid-template-columns: max-content 1fr;
        padding: 0 5px;
    }

    .SideNav {
        display: block;
    }

    .lg {
        display: none !important;
    }

    .md {
        display: flex !important;
        place-items: center;
    }

    // .sm {
    //     display: none !important;
    // }
}

/* sm */
@media (max-width: 400px) {

    .lg {
        display: none !important;
    }

    .md {
        display: none !important;
    }

    .sm {
        display: flex !important;
        place-items: center;
    }
}