.appBarContainer {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 600px) minmax(max-content, 1fr);
    align-items: center;
    width: 100%;
    padding: 0 10px;
    gap: 5px;
}

.largeScreen {
    display: flex;
    gap: 5px;
}

.smallScreen {
    display: none;
    gap: 5px;
}

.navLinkButtons {
    height: min-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media (max-width: 600px) {
    .appBarContainer {
        grid-template-columns: max-content 1fr;
        padding: 0 5px;
    }

    .largeScreen {
        display: none;
    }

    .Profile {
        display: none;
    }

    .smallScreen {
        display: flex;
    }

    .navLinkButtons {
        display: flex;
        flex-direction: column;
    }
}